/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$background: #2f2d2e;
$text: #fff;
$hover: #3d8057; // hsl(143.3, 35.4%, 37.1%);
$hover-darker: hsl(143.3, 35.4%, 17.1%)



